In [147]:
import pandas as pd
import numpy as np

In [148]:
df = pd.read_csv("data.csv",sep=",")

In [149]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)

In [150]:
df

,company,job_header,job_description
0,Intact,Data Science - 4 Month Co-op/Internship (Winte...,It’s more than a great career. It’s a bright f...
1,Intact,AI Back End Developer – 4 Month Co-op/Internsh...,It’s more than a great career. It’s a bright f...
2,Intact,ETL Developer - 4 Month Co-op/Internship (Wint...,It’s more than a great career. It’s a bright f...
3,Microsoft,Consulting Services: Internship Opportunities,"At Microsoft, Interns work on real-world proje..."
4,Northland Power,Intern - IT/OT Security Analyst,We want Northland to be the first choice for t...
...,...,...,...
85,Side Effects Software,Marketing Education Intern,Position Overview\r\n\r\nSideFX is currently l...
86,Klick Health,Copywriter,About Klick Health\r\nMeet a different kind of...
87,Validere Technologies,Technical Success Analyst,Who we are:\r\n\r\nValidere is a leading data ...
88,Amazon Dev Centre Canada ULC,Software Development Engineer - Supply Chain O...,2+ years of non-internship professional softwa...
89,StackAdapt,Data Engineer,StackAdapt is the no. 1 performing programmati...

In [151]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\taola\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [153]:
df['job_description'][0]
sw = stopwords.words("english")

def clean_text (text):
    '''
    <string> -> <list>
    1. Remove punctuation
    2. Lower words
    3. Remove abbreviations
    4. Remove stop words
    '''
    nopunc = [char.replace("[^\w\s]","") for char in text] #no punctuation
    nopunc_lower = [char.lower() for char in nopunc] #lower-case all words
    nopunc_lower_abbr = [char.replace("’","'") for char in nopunc_lower] #remove ' with '
    nopunc_lower_abbr_point = [char.replace(".","") for char in nopunc_lower_abbr]

    nopunc = ''.join(nopunc_lower_abbr_point)
    return [word for word in nopunc.split() if word.lower() not in sw]

In [154]:
df['job_description'].apply(clean_text)

0     [great, career, bright, future, aim, best, ins...
1     [great, career, bright, future, looking, gain,...
2     [great, career, bright, future, looking, gain,...
3     [microsoft,, interns, work, real-world, projec...
4     [want, northland, first, choice, talented, peo...
                            ...
85    [position, overview, sidefx, currently, lookin...
86    [klick, health, meet, different, kind, workpla...
87    [are:, validere, leading, data, analytics, saa...
88    [2+, years, non-internship, professional, soft...
89    [stackadapt, 1, performing, programmatic, adve...
Name: job_description, Length: 90, dtype: object

In [80]:
'''
df["job_description"] = df["job_description"].str.replace("[^\w\s]","")
df["job_description"]=df["job_description"].apply(lambda x: " ".join(x.lower() for x in x.split()))
df["job_description"]=df["job_description"].apply(lambda x: " ".join(x.replace("’","'") for x in x.split()))
df["job_description"]=df["job_description"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
df['job_description']=df['job_description'].apply(str)
tokens = []
for i in range(len(df["job_description"])):
    token = nltk.word_tokenize(df["job_description"][i])
    tokens.append(token)

'''

C:\Users\taola\AppData\Local\Temp/ipykernel_8096/2993565688.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["job_description"] = df["job_description"].str.replace("[^\w\s]","")

In [156]:
from sklearn.feature_extraction.text import CountVectorizer